.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-bgr-color);
}

// .section {
//   padding-top: var(--section-pt);
//   padding-bottom: var(--section-pb);

//   background-color: var(--main-bgr-color);
// }
