:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-bgr-color: #fff;
  --secondary-bgr-color: #2f303a;
  --logo-dark-theme: #000;
  --logo-light-theme: #fff;
  --btn-background: #f5f4fa;
  --section-pt: 47px;
  --section-pb: 47px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
